<h1>Berichten</h1>
<p>Stuur via deze chat een bericht naar de docent of maak een groep aan met andere groepsgenoten!</p>
<div class="col" style="text-align: center; margin-bottom: 10px;">
    <a href="/dashboard" class="btn btn-secondary">Terug</a>
  </div>