<h1 style="margin-bottom: 10px;">Bewegen verbeteren</h1>
<p>Welkom op de pagina van Bewegen verbeteren! Hier leggen we uit wat ´Bewegen verbeteren´ daadwerkelijk inhoudt.</p>
<p>Aan de beweegsleutel ´Bewegen verbeteren´ hangen maar liefst 3 eindtermen, vastgesteld door de Regering:</p>
<div class="card" style="margin-bottom: 20px;">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 53: 'De leerling leert zich mede met het oog op buitenschoolse beoefening op praktische wijze te oriënteren op veel verschillende bewegingsactiviteiten uit gevarieerde gebieden als spel, turnen, atletiek, bewegen op muziek, zelfverdediging en actuele ontwikkelingen in de bewegingscultuur, en daarin de eigen mogelijkheden te verkennen.'</p>
    </div>
  </div>

  <div class="card" style="margin-bottom: 20px;">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 54: 'De leerling leert door middel van uitdagende bewegingssituaties zijn bewegingsrepertoire uit te breiden.'</p>
    </div>
  </div>

  <div class="card">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 55: 'De leerling leert de hoofdbeginselen van de bewegingsactiviteiten op eigen niveau toe te passen.'</p>
    </div>
  </div>
<p style="margin-top: 20px;">Dit houdt in dat je op de school waar je nu zit zo veel mogelijk verschillende bewegingen aangeleerd zult krijgen, om zo een beeld te geven van sporten die je misschien nog nooit hebt geprobeerd, om zo een goed beeld te geven van wat er allemaal bestaat.</p>
<p>Daarnaast dien je deze bewegingen op eigen niveau toe te passen. Je hoeft dus niet net zo goed te worden als een professional, plezier blijft natuurlijk het voornaamste! Maar zorg ervoor dat je je zo goed mogelijk oriënteert op de verschillende bewegingen en wat je daadwerkelijk kan! De docent kan hier altijd bij helpen.</p>
<div class="col" style="text-align: center; margin-bottom: 10px;">
  <a href="/dashboard" class="btn btn-secondary">Terug</a>
</div>