<h1 style="margin-bottom: 10px;">Bewegen Beleven</h1>
<p>Welkom op de pagina van Bewegen beleven! Hier leggen we uit wat ´Bewegen beleven´ daadwerkelijk inhoudt.</p>
<p>Aan de beweegsleutel ´Bewegen beleven´ hangt de volgende eindterm, vastgesteld door de Regering:</p>
<div class="card">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 56: 'De leerling leert tijdens bewegingsactiviteiten sportief te zijn, rekening te houden met de mogelijkheden en voorkeuren van anderen, en respect en zorg te hebben voor elkaar.'</p>
    </div>
  </div>
<p style="margin-top: 15px;">Dit betekent dat samenwerking met je klasgenoten centraal staat. Het beste halen uit jezelf, maar ook het beste uit anderen halen waar en wanneer je kan.</p>
<p>Voor de één zal dit makkelijker zijn dan voor de ander, maar een positieve sfeer creeëren in de lessen staat hierbij centraal. Zorg ervoor dat je bij vragen hierover jezelf meldt bij de docent, die kan altijd helpen!</p>