<h1 style="margin-bottom: 10px;">Bewegen regelen</h1>
<p>Welkom op de pagina van Bewegen regelen! Hier leggen we uit wat ´Bewegen regelen´ daadwerkelijk inhoudt.</p>
<p>Aan de beweegsleutel ´Bewegen regelen´ hangt de volgende eindterm, vastgesteld door de Regering:</p>
<div class="card">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 57: 'De leerling leert eenvoudige regelende taken te vervullen die het mogelijk maken, zelfstandig en samen met andere leerlingen bewegingsactiviteiten te beoefenen.'</p>
    </div>
  </div>
<p style="margin-top: 15px;">Dit houdt in dat je, behalve de bewegin/oefening zelf, jezelf ook op een andere manier nuttig kan maken tijdens de les.</p>
<p>Denk hierbij aan bijvoorbeeld het zekeren tijdens turnen, coach zijn bij een spelvorm, afstanden of tijdens meten tijdens Atletiek, scheidsrechter of jurylid zijn tijdens Bewegen op muziek, Fysiek Mentale Vorming of spelvormen, etc.</p>