<div class="container">
    <div class="row">
            <div class="col order-first">
                <h1 class="mt-4">Dashboard</h1>
            </div>

        <div class="row">
            <div class="col order-first">
                <p class="lead mb-3" style="margin-left: 15px;">Welkom <%= name %></p>
            </div>
        </div>
    </div>
</div>
<!-- De inhoud van het dashboard -->
<center>
<div class="container">
    <div class="row">
      <div class="col-12 col-sm-4">
          <a href="/bewegenverbeteren">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-running"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Bewegen verbeteren</h5>
              <p class="card-text">Bewegen verbeteren is 1 van de 4 beweegsleutels die nodig is om lichamelijke opvoeding af te sluiten.</p>
            </div>
          </div> 
        </a> 
    </div>
      <div class="col-12 col-sm-4">
          <a href="/bewegenregelen">
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-hands-helping"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Bewegen regelen</h5>
              <p class="card-text">Bewegen regelen is 1 van de 4 beweegsleutels die nodig is om lichamelijke opvoeding af te sluiten.</p>
            </div>
        </div>
    </a>
      </div>
  
      <!-- Force next columns to break to new line at md breakpoint and up -->
      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-12 col-sm-4">
          <a href='/bewegenbeleven'>
        <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-child"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Bewegen beleven</h5>
              <p class="card-text">Bewegen beleven is 1 van de 4 beweegsleutels die nodig is om lichamelijke opvoeding af te sluiten.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
          <a href="/gezondbewegen">
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-heart"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Gezond bewegen</h5>
              <p class="card-text">Gezond bewegen is 1 van de 4 beweegsleutels die nodig is om lichamelijke opvoeding af te sluiten.</p>
            </div>
          </div>
        </a>
      </div>

      <div class="w-100 d-none d-md-block"></div>
  
      <div class="col-12 col-sm-4">
          <a href="/werkboek">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-scroll"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Werkboek</h5>
              <p class="card-text">Je kan hier een nieuw werkboek krijgen in PDF formaat!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-sm-4">
          <a href="/berichten">
        <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header" style="text-align: center; font-size: 20px;"><i class="fas fa-comment-dots"></i></div>
            <div class="card-body" style="text-align: center;">
              <h5 class="card-title">Berichten</h5>
              <p class="card-text">Overleg met groepsgenoten of stuur een berichtje naar je docent!</p>
            </div>
          </div>
          </a>
      </div>
    </div>
    </div>
  </div>
</center>
  <div class="col" style="text-align: center; margin-bottom: 10px;">
    <a href="/users/logout" class="btn btn-secondary">Uitloggen</a>
  </div>
  <footer>
      <p style="font-size: 13.5px; text-align: center;">Erik van Dijk, in opdracht van FHICT Tilburg & ALO Eindhoven</p>
  </footer>
