<h1 style="margin-bottom: 10px;">Gezond bewegen</h1>
<p>Welkom op de pagina van Gezond bewegen! Hier leggen we uit wat ´Gezond bewegen´ daadwerkelijk inhoudt.</p>
<p>Aan de beweegsleutel ´Gezond bewegen´ hangt de volgende eindterm, vastgesteld door de Regering:</p>
<div class="card">
    <div class="card-body" style="background-color: #fafafa;">
        <p>Eindterm 58: 'De leerling leert door deel te nemen aan praktische bewegingsactiviteiten de waarde van het bewegen voor gezondheid en welzijn kennen en ervaren.'</p>
    </div>
  </div>
<p style="margin-top: 15px;">Over deze beweegsleutel zal je nog een opdracht/toets krijgen, afhankelijk van de visie van jouw school! De docent zal dit aangeven bij jou!</p>
