
<h1>Werkboek</h1>
<p>Download hier je werkboek!</p>
<object data="files/Werkboek_Lichamelijke_Opvoeding_v1.pdf" type="application/pdf" width="100%" height="100%">
  <p><a href="files/Werkboek_Lichamelijke_Opvoeding_v1.pdf" target="_blank">Of open hem op een andere pagina!</a></p>
</object>
<div class="col" style="text-align: center; margin-bottom: 10px;">
    <a href="/dashboard" class="btn btn-secondary">Terug</a>
  </div>